*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body{
    background-image: url(img/backgnumbers.jpg);
    background-size: cover;
}

.container{
    background-color: lightgray;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    line-height: 30px;
    border: 1px solid gray;
}

h1{
    line-height: 40px;
    -webkit-text-stroke: 1.7px grey;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    margin-top: 20px;
}

h1 span{
    display: inline-block;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

#newnumber{
    font-size: 30px;
    color: green;
    margin-top: 15px;
}

button{
    padding: 5px;
    border-radius: 10px;
    border: 2px black solid;
}

button:hover{
    background-color: lightblue;
}

#result{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
}

p{
    font-size: 20px;
    font-weight: 500;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

input{
    height: 30px;
    text-align: center;
    font-weight: 600;
    border: green solid 2px;
}

#reload{
    margin-bottom: 0px;
    margin-top: 50px;
    border: 1px black solid;
}

#footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-weight: 800;
    transform: translate( -50%, -50%);
}

#heart{
    -webkit-text-stroke: 2px red;
}

.submit-ani{
    animation: slidebg 35s linear infinite, rotate 5s infinite ease-in-out;
    font-weight: 800;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}  

@keyframes rotate {
    
    0% {transform: rotate(0deg);}
    20% {transform: rotate(0deg);}
    40% {transform: rotate(10deg);}
    60% {transform: rotate(-10deg);}
    80% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }